body,
html {
	background-color: hsl(0, 0%, 8%);
}

:root {
	color-scheme: dark;
}

#left-column {
	margin: 20px 0 0 40px;
}

#right-column {
	margin: 20px 0 0 35px;
}

.list-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
}
img {
	border-radius: 8px;
	transition: transform 0.2s;
	transition-delay: 0.05s;
}

img:hover {
	transform: scale(1.33);
	cursor: pointer;
}

#left-column {
	background-color: hsl(0, 0%, 8%);
}

#bottom-wrapper {
	display: flex;
	justify-content: space-between;
	margin-left: 20px;
	max-width: 90%;
	background-color: hsl(0, 0%, 8%);
	padding-top: 0px;
}

.box .box {
	color: whitesmoke;
	margin-left: 10px;
	min-width: 64.5%;
}

#controls {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-top: 0px;
	margin-left: 115px;
	height: 140px;
	min-width: 15%;
}

#next {
	padding-right: 30px;
	padding-left: 30px;
}
#prev {
	padding-right: 30px;
	padding-left: 30px;
	margin-bottom: 10px;
}
#genre {
	font-weight: 900;
	font-size: 1.1em;
	color: rgb(12, 182, 182);
}

.footer {
	background-color: whitesmoke;
}

.title {
	color: whitesmoke;
}

#desc {
	max-width: 1080px;
}

#right-column.loading {
	filter: blur(2px);
}
