body {
	background-color: hsl(0, 0%, 4%);
	min-height: 101.5vh;
}

/* 
#github {
  background: url(/images/linkedin-brands.svg) no-repeat;
  background-size: contain;
  width: 60px;
  z-index: 1;
}

#linkedin {
  background: url(/images/github-square-brands.svg) no-repeat;
  background-size: contain;
  width: 60px;
  z-index: -1;
} */

#left-column {
	margin: 20px 0 0 20px;
}

#right-column {
	margin: 20px 0 0 35px;
}

.list-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
}
img {
	border-radius: 8px;
}

#bottom-wrapper {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
}

.section .box {
	width: 59%;
}

#controls-container {
	width: 10%;
}
